* {
    box-sizing: border-box;
}

#caixa_filtro {
    padding: 3rem 3.5rem;
    background-color: teal;
}

#posicoes {
    display: grid;
    align-items: center;
    justify-content: center;
    transform: translate(-35%, 100%);
}

#valor {
    display: grid;
    text-align: center;
    justify-content:center;
    transform:translate(35%);
}

#carac {
    display: grid;
    justify-content: center;
    text-align: center;
    transform:translate(0%, -100%)
}

#filtrar {
    transform:translate(1730%)
}

footer {
    background-color: teal;
    text-align: center;
}