* {
    box-sizing: border-box;
}

#caixa_filtro {
    background-color: teal;
}

input, select, button {
    grid-row: inherit;
    display: block;
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
    width: 300px;
}

button {
    width: 150px;
    background-color: teal;
    color: white;
    border: none;
    cursor: pointer;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

footer {
    background-color: teal;
    text-align: center;
}