body {
}

.todofiltro {
    align-items: center;
    text-align: center;
    background-color: #808080;
    height: 400px;
}

.cima {
    padding: 20px;
}

.meio {
    padding: 20px;
}

.baixo {
    padding: 20px;
    
}

select, input {
    border-radius: 5px;
}

footer {
    background-color: #808080;
    text-align: center;
    align-items: center;
}
