    {% extends 'base.html' %}

    {% block conteudo %}
    <h1>Filtrar Jogadores</h1>
    <div id="caixa_filtro">
        <form method="POST" action="/filtrar">
            <div id="posicoes">
                <label>Posição:</label>
                <select name="posicao">
                    <option value="Todas">Todas</option>
                    {% for p in ['goleiros', 'laterais', 'zagueiros', 'volantes', 'boxtobox', 'armadores', 'atacantes'] %}
                    <option value="{{ p }}">{{ p.capitalize() }}</option>
                    {% endfor %}
                </select>
                
                <label>Nome do Jogador:</label>
                <input type="text" name="nome">
            </div>
            <div id="valor">           
                <label>Valor Máximo:</label>
                <input type="number" name="valor">
                
                <label>Idade:</label>
                <input type="number" name="idade">
            </div>
            <div id="carac"> 
                <label>Característica 1:</label>
                <select name="carac1">
                    {% for c in caracteristicas %}
                    <option value="{{ c }}">{{ c }}</option>
                    {% endfor %}
                </select>
                
                <label>Característica 2:</label>
                <select name="carac2">
                    {% for c in caracteristicas %}
                    <option value="{{ c }}">{{ c }}</option>
                    {% endfor %}
                </select>
            </div>   
                <button id="filtrar" type="submit">Filtrar</button>
            </form>
    </div>
        
    <footer>
        <h2>Comparar Jogadores</h2>
        <form method="POST" action="/comparar">
            <label>Jogador 1:</label>
            <select name="jogador1">
                {% for nome in nomes_jogadores %}
                    <option value="{{ nome }}">{{ nome }}</option>
                {% endfor %}
            </select>

            <label>Jogador 2:</label>
            <select name="jogador2">
                {% for nome in nomes_jogadores %}
                    <option value="{{ nome }}">{{ nome }}</option>
                {% endfor %}
            </select>

            <button type="submit">Comparar</button>
        </form>
    </footer>
    {% endblock %}