<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Perfil do Jogador</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/estilo.css')}}">

</head>
<body>
    <div class="container">
        <h2>Informações básicas</h2>
        <!-- Estrutura da tabela com dados do jogador. -->
        <div class="tabela">
            <table id="customers">
                <tr>
                    <!-- Linha de cabeçalho com títulos das colunas. -->
                    <th>Nome</th>
                    <th>Idade</th>
                    <th>Nacionalidade</th>
                    <th>Valor Estimado</th>
                    <th>Salário</th>
                </tr>
                <tr>
                    <!-- Linha com os valores reais do jogador. -->
                    <td>{{ info['Nome'] }}</td>
                    <td>{{ info['Idade'] }}</td>
                    <td>{{ info['Nac'] }}</td>
                    <td>{{ info['Valor Estimado Original'] }}</td>
                    <td>{{ info['Salário'] }}</td>
                </tr>
            </table>
        </div>

        <div class="grafico">
            <h2>Gráfico de estatísticas</h2>
            <!-- Insere a imagem do gráfico gerado no back-end (Flask). -->
            <img src="{{ url_for('static', filename=imagem_grafico) }}" alt="Gráfico de estatísticas">
        </div>
        <!-- Botão que redireciona de volta para a página inicial (/). -->
        <a href="/"><button>Voltar</button></a>
    </div>
</body>
</html>