    {% extends 'base.html' %}

    {% block conteudo %}
    <p>
        <div class="todofiltro">
            <div class="cima">
                <label for="posicao">Posição:</label>
                    <select class="caixa_posicao">
                        <option value="goleiro">Goleiro</option>
                        <option value="zagueiro">Zagueiro</option>
                        <option value="lateral">Lateral</option>
                        <option value="volante">Volante</option>
                        <option value="box-to-box">Box-to-Box</option>
                        <option value="armadores">Armadores</option>
                        <option value="atacantes">Atacantes</option>
                    </select>
                
                <label for="valor">Valor Máximo (R$):</label>
                    <input placeholder="Ex: 100000000" type="number">
            </div>
            
            <div class="meio">
                <label for="estatistica">Característica 1:</label>
                    <select class="caixa_estatistica">
                        <option value="desarmes">% Desarmes certos</option>
                        <option value="chutes">% Chutes certos</option>
                        <option value="defesas">Defesas</option>
                        <option value="faltas">Faltas</option>
                        <option value="gols">Gols</option>
                        <option value="assistencia">Assistências</option>
                        <option value="passes">% Passes certos</option>
                        <option value="cruzamentos">% Cruzamentos certos</option>
                    </select>

                <label for="estatistica">Característica 2:</label>
                    <select class="caixa_estatistica">
                        <option value="desarmes">% Desarmes certos</option>
                        <option value="chutes">% Chutes certos</option>
                        <option value="defesas">Defesas</option>
                        <option value="faltas">Faltas</option>
                        <option value="gols">Gols</option>
                        <option value="assistencia">Assistências</option>
                        <option value="passes">% Passes certos</option>
                        <option value="cruzamentos">% Cruzamentos certos</option>
                    </select>

                <button class="botao">Filtrar</button>
            </div>

            <div class="baixo">
                <label for="nacionalidade">Nacionalidade:</label>
                    <select class="caixa_nacionalidade">
                        <option value="nacionalidade">Brasil</option>
                        <option value="nacionalidade">Alemanha</option>
                    </select>

                <label for="idade">Idade:</label>
                    <input  type="number">
            </div>


        </div>
    </p>

    <footer>
        <div>
            <label for="comparar_jogador">Comparar Jogador 1:</label>
                <select class="Jogador">
                    <option value="nome">MÜLLER</option>
                    <option value="nome">Musiala</option>
                </select>
            <label for="comparar_jogador">Comparar Jogador 2:</label>
                <select class="Jogador">
                    <option value="nome">MÜLLER</option>
                    <option value="nome">Musiala</option>
                </select>
            <button class="botao">Comparar</button>
        </div>
    </footer>
  
    {% endblock %}